<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Taken from SportsVans Demo-->
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="test/html; charset="UTF-8"/>
    <link href="http://odn.jadelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://odn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{}/webjars/jquery/2.1.4/jquery.mln.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

</head>
<body>

</body>
</html>