<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Page for "/list"-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset-UTF-8"/>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/boostrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>

        <link href="../static/css/style.css"
              th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    </head>

    <!--NAVIGATION BAR-->
    <nav class = "navbar navbar-inverse" role = "navigation">
        <div class="container-fluid">
            <div>
                <ul class = "nav navbar-nav">
                    <li><a href = "/ ">Home</a></li>
                    <li class = "active" ><a href = "list">List of Animals</a></li>
                    <li><a href = "random">Random Cat Generator</a></li>
                </ul>
            </div>

        </div> <!-- /.container-fluid -->
    </nav>

    <body>
        <div class="container-fluid">
            <th:block th:include= "fragments/header :: header"/>
            <div th:if="${not #lists.isEmpty(breeds)}">
                <h2>Animal List</h2>

                <table id="animals" class = "table table-bordered">
                    <tr class="success">
                        <th>ID</th>
                        <th>Breed</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                    <tr th:each="breed : ${breeds}">

                        <td th:text="${breed.id}">Breed</td>
                        <td th:text="${breed.name}">Breed Name</td>
                        <td th:text="${breed.desc}">Breed Desc</td>

                        <td> <img src="../../static/images/NewBannerBOOTS_2.png" width="300"
                                  th:src="${breed.imgUrl}"/></td>
                    </tr>
                </table>

            </div>
        </div>
    </body>

</html>